*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  /* border: 2px solid green; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app h1{
  margin: 1rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgb(160, 160, 161);
  text-transform: uppercase;
}